*{
	margin: 0 0;
}
@font-face {
font-family: 'Pacifico', cursive;
src: url(Pacifico-Regular.ttf); 
}

body{
	font-family: 'Pacifico', cursive;
}

header{
	display: flex;
	width: 100%;
	background-color: #33A2D1;
}

.header{
	display: flex;
	justify-content: space-between;
	width: 100%; 
	padding-top: 15px;
	padding-bottom: 15px;
}
.navigation{
	display: flex;
	padding-right: 250px;
	width: 25%;
	justify-content: space-between;

}
.title{
	padding-left: 250px;
	
}
a{
	text-decoration: none;
	color: #000;
	transition: .5s;
}

a:hover {
	color: #fff;
	transition: .3s;
}

.auth-win{
	width: 400px;
	margin: 0 auto;
	background-color: #33A2D1;
	padding: 70px 0px;
	border-radius: 10px;
}
.auto{
	margin-top: 250px;
	text-align: center;
}
input{
	width: 350px;
	height: 35px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
}
.btn-aut{
	height: 25px;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
}
.voiti{
	width: 120px;
	transition: .3s;
	border: none;
}
.voiti:hover{
	background-color: #1581A6;
	transition: .3s;
}
.auth-win p{
	margin-top: 20px;
}

.auth_link{
	color: #fff;
	text-decoration:underline;
}

.auth_link:hover{
	color:#000;
}

.reg_btn{
	width: 150px;
}

.reg_check{
	width: 25px;
	
}

.sogl{
	width: 250px;
}

.policy{
	display: flex;
	text-align: center;
	margin: 20px auto;
	width: 300px;
	
}

.reg-win{
	width: 400px;
	margin: 0 auto;
	background-color: #33A2D1;
	padding: 50px 0px;
	border-radius: 10px;
}


